*
!bin/PATH/create-github-release
!bin/PATH/get-release-changelog
!bin/PATH/get-release-description
!bin/PATH/get-release-title
!bin/PATH/update-release-version
!bin/PATH/upload-asset-to-github-release
!bin/build.mjs
!bin/create-github-release.mjs
!bin/get-release-changelog.mjs
!bin/get-release-description.mjs
!bin/get-release-title.mjs
!bin/install-libraries.sh
!bin/update-release-version.mjs
!bin/upload-asset-to-github-release.mjs
!src
!src/**
