*
!bin/create-github-release.mjs
!bin/get-release-changelog.mjs
!bin/get-release-description.mjs
!bin/get-release-tag.mjs
!bin/get-release-title.mjs
!bin/get-release-version.mjs
!bin/install-libraries.sh
!bin/update-get-release-tag.mjs
!bin/update-github-metadata.mjs
!bin/update-release-version.mjs
!bin/upload-asset-to-github-release.mjs
!src
!src/**
