*
!docker
!docker/**
!HOST_PATH
!HOST_PATH/**
!src
!src/**
!.gitignore
!build.mjs
!build.sh
!CHANGELOG.md
!create-github-release.mjs
!get-release-changelog.mjs
!get-release-description.mjs
!get-release-tag.sh
!get-release-title.mjs
!get-release-version.sh
!install-libraries.sh
!lint.sh
!pre-publish.sh
!publish.sh
!README.md
!revoke-github-release.mjs
!revoke-tag-release.sh
!tag-release.sh
!update-release-version.mjs
!upload-asset-to-github-release.mjs
!version
