*
!application
!application/**
!docker
!docker/**
!HOST_PATH
!HOST_PATH/**
!.gitignore
!build.mjs
!build.sh
!CHANGELOG.md
!install-libraries.sh
!lint.sh
!pre-publish.sh
!publish.sh
!README.md
!version
